#main-container{
	min-width: 280px;
	max-width: 2000px;
	height: 100vh;
	position: fixed;
	overflow: auto;
	background-color: rgba(69, 176, 111, 0.3);
}

.navbar{
	min-width: 280px;
}

@media screen and (max-width:  301px){
	#navbar-title{
		display: none;
	}
}
@media screen and (min-width: 302px){
	#navbar-title-toggle{
		display: none;
	}
}